* {
  margin: 0 auto;
  padding: 0 auto;
}
body {
  background-image: url(../img/banner01_工作區域\ 1.png);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: rgb(245, 245, 245);
}

.hd-left {
  float: left;
}
.left-search {
  float: left;
}
.left-img {
  float: left;
}
.hd-left img {
  height: 40px;
  margin: 10px 15px 10px 30px;
  display: block;
  cursor: pointer;
}

.left-search {
  margin: 14.625px auto;
}

.search-input {
  height: 22px;
  border-width: 0 0 1px 0;
  background-color: rgb(245, 245, 245);
}
.search-button {
  height: 30px;
  width: 30px;
  border: transparent;
  background-color: rgb(245, 245, 245);
}
.hd-left i {
  font-size: 20px;
  color: #929292;
  cursor: pointer;
}
.hd-right {
  margin: 18.75px 30px 18.75px 0;
  float: right;
}

.hd-right i {
  font-size: 16px;
  margin-bottom: 0;
  margin-right: 9px;
}
.hd-right > div {
  float: right;
}
.hd-cart {
  margin: 0 20px 0 0;
}
.hd-right a {
  text-decoration: none;
  color: #929292;
}
.hd-right a:hover {
  text-decoration: none;
  color: #505050;
}
.hd-left i:hover {
  color: #505050;
}

.header-logo {
  width: 100%;
  height: 200px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  padding-top: 60px;
}

.header-logo img {
  height: 180px;
  display: block;
}
.nav {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
}
.nav ul {
  list-style: none;
  margin: 0 auto;
}

ul a {
  text-decoration: none;
}

.nav li {
  float: left;
}
.nav li a {
  padding: 0 13px;
  font-weight: 700;
  color: #000000;
}
.nav li a:hover {
  background-color: rgb(246, 246, 246);
  color: #929292;
}
.nav-ul {
  width: 700px;
  height: 30px;
  padding: 0;
  display: flex;
}

.list {
  width: 1120px;
  height: 1000px;
  padding: 0 80px;
}
.list-img {
  width: 300px;
  height: 300px;
  float: left;
  margin: 100px 100px;
}

.list-text {
  width: 560px;
  height: 600px;
  float: left;
  padding: 50px 30px;
}

.list-img img {
  width: 300px;
}
.list-text h2 {
  margin: 20px 0 10px 0;
  letter-spacing: 2px;
  color: #373737;
}
.list-text hr {
  width: 500px;
  margin: 0 0 10px 0;
}
.list-text-feature {
  letter-spacing: 3px;
}
.list-text-color {
  letter-spacing: 3px;
  margin: 10px 0 0 0;
  display: block;
}
.list-text-number {
  letter-spacing: 1px;
  color: #505050;
  display: block;
  margin: 10px 0;
}

.list-text-money i {
  font-size: 40px;
  color: #505050;
  margin: 0 5px 0 0;
}
.list-text-money {
  font-size: 40px;
  color: #505050;
}

.list-text-add {
  width: 400px;
  margin: 50px auto 20px;
  background-color: transparent;
}
.addinput {
  background: none;
  width: 70px;
  height: 20px;
  text-align: center;
  border: none;
}

.list-text-add-inner {
  width: 400px;
  height: 120px;
  margin: 0 auto;
}
.list-text-addicon {
  width: 120px;
  height: 30px;
}
.list-text-addicon i:hover {
  color: #9d9d9d;
}
.list-text-cart {
  font-size: 16px;
  height: 50px;
  border-radius: 10px;
  border-width: 1px;
  margin: 0 10px;
  float: left;
}
.btn01 {
  background-color: #929292;
  color: rgb(255, 255, 255);
  width: 180px;
}

.btn01:hover {
  background-color: #151515;
  color: rgb(255, 255, 255);
}
.btn01:active {
  background-color: #474747;
  color: rgb(255, 255, 255);
}
.btn02 {
  background-color: #1c1c1c;
  color: rgb(255, 255, 255);
  width: 180px;
}
.btn02:hover {
  background-color: #686868;
  color: rgb(255, 255, 255);
}
.btn02:active {
  background-color: #474747;
  color: rgb(255, 255, 255);
}

.list-back {
  width: 75px;
  height: 35px;
  margin: 60px auto;
  padding: auto;
  border: 2px solid transparent;
}
.list-backa {
  width: 85px;
  height: 35px;
  display: block;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
}
.list-back a {
  text-decoration: none;
  color: #7e7e7e;
}
.list-back a:hover {
  text-decoration: none;
  background-color: #c7c7c7;
  color: rgb(255, 255, 255);
}

.footer {
  width: 100%-200px;
  height: 100px;
  background-color: #b4b4b4;
  opacity: 80%;
  font-size: 20px;
  color: #505050;
  padding: 50px 100px;
  margin: 0 0;
}
.footer i {
  font-size: 30px;
  color: #505050;
  float: left;
}
.fa-brands {
  margin: 0 20px;
}
.footer-p {
  float: right;
}
